<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="localdb"
         connectionString="data source=(localdb)\v11.0;initial catalog=msdb;integrated security=true"
         providerName="System.Data.SqlClient"   />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="myerrorpage.html"/>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CoursesSoap" />
        <binding name="GlobalWeatherSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="GlobalWeatherSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61338/Courses.asmx" binding="basicHttpBinding"
        bindingConfiguration="CoursesSoap" contract="WSClient.CoursesSoap"
        name="CoursesSoap" />
      <endpoint address="http://www.webservicex.net/globalweather.asmx"
        binding="basicHttpBinding" bindingConfiguration="GlobalWeatherSoap"
        contract="WSXClient.GlobalWeatherSoap" name="GlobalWeatherSoap" />
      <endpoint address="http://www.webservicex.net/globalweather.asmx"
        binding="customBinding" bindingConfiguration="GlobalWeatherSoap12"
        contract="WSXClient.GlobalWeatherSoap" name="GlobalWeatherSoap12" />
    </client>
  </system.serviceModel>
</configuration>